body {
    max-width: 1600px;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    color: #333B41;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.header {
    width: 1600px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
}
.container {
    width: 1161px;
    margin: 0 auto;

}

.header__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
}

.logo__text {
    border: solid white 1.19px;
    border-radius: 2px;
    font-size: 19.01px;
    font-weight: 400;
    text-align: center;
    padding-left: 4.75px;
    padding-right: 4.75px;
    padding-top: 3.55px;
    height: 48px;
}

.header__nav {
    display: flex;
    font-size: 16px;
    font-weight: 500;
}
.header__nav:first-of-type {
    margin-left: -377px;
}

.nav__link {
    margin-right: 58px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: color;
}

.nav__link.active {
    color: #F9804B;
    ;

}

.nav__link:last-child {
    margin-right: 0;
}

.nav__link:hover {
    color: orange;
}

.copyright {
    margin-right: 2px;
    font-size: 16px;
    color: #FFFFFF;
}

.section1 {
    height: 390px;
    background-image: url(../../assets/images/panda_bg.png);
}

.section2 {
    height: 1482px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.title {
    position: absolute;
    margin-top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FFFFFF;
}